### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 0. Exploración Inicial

In [ ]:
tienda.shape

(2359, 12)

In [ ]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [4]:
tienda.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.878679e+05,26018.609580,3.976685,2.943196,5.365283,-74.789417
std,6.146868e+05,32860.001783,1.415370,2.819897,2.287445,1.217827
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.575000e+04,3100.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.353000e+05,12400.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.781000e+05,36000.000000,5.000000,4.000000,6.251840,-74.081750
max,2.977000e+06,160800.000000,5.000000,24.000000,11.544440,-67.923900

In [5]:
tienda4.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

# 1. Análisis de facturación

## Ingreso total por cada tienda

### Sumando los valores de la columna Precio de cada conjunto de datos de la tienda.

In [ ]:
ingresoTotal1 = tienda['Precio'].sum()
ingresoTotal2 = tienda2['Precio'].sum()
ingresoTotal3 = tienda3['Precio'].sum()
ingresoTotal4 = tienda4['Precio'].sum()

In [7]:
print(f"Ingreso Total Tienda 1: {ingresoTotal1:.2f} \
    \nIngreso Total Tienda 2: {ingresoTotal2:.2f} \
     \nIngreso Total Tienda 3: {ingresoTotal3:.2f}  \
     \nIngreso Total Tienda 4: {ingresoTotal4:.2f}" )

Ingreso Total Tienda 1: 1150880400.00
Ingreso Total Tienda 2: 1116343500.00
Ingreso Total Tienda 3: 1098019600.00
Ingreso Total Tienda 4: 1038375700.00

# 2. Ventas por categoría

## Calcular la cantidad de productos vendidos por categoría en cada tienda.

In [8]:
# Se muestra las categorías de productos en la tienda
tienda['Categoría del Producto']

0            Electrónicos
1                 Muebles
2                Juguetes
3       Electrodomésticos
4                 Muebles
              ...
2354         Electrónicos
2355         Electrónicos
2356             Juguetes
2357              Muebles
2358         Electrónicos
Name: Categoría del Producto, Length: 2359, dtype: object

In [9]:
# Categorias de los dataset
tienda4['Categoría del Producto'].unique()

array(['Electrodomésticos', 'Muebles', 'Deportes y diversión', 'Libros',
       'Electrónicos', 'Instrumentos musicales', 'Juguetes',
       'Artículos para el hogar'], dtype=object)

In [10]:
# Cantidad de categorías de productos en la tienda
print(len(tienda4['Categoría del Producto'].unique()))

8

### Cantidad de productos vendidos por categoria en Tienda

In [11]:
ventasXcategoriaTienda = tienda['Categoría del Producto'].value_counts()
print(ventasXcategoriaTienda)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

### Cantidad de productos vendidos por categoria en Tienda2

In [12]:
ventasXcategoriaTienda2 = tienda2['Categoría del Producto'].value_counts()
print(ventasXcategoriaTienda2)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

### Cantidad de productos vendidos por categoria en Tienda3

In [13]:
ventasXcategoriaTienda3 = tienda3['Categoría del Producto'].value_counts()
print(ventasXcategoriaTienda3)

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

### Cantidad de productos vendidos por categoria en Tienda4

In [ ]:
ventasXcategoriaTienda4 = tienda4['Categoría del Producto'].value_counts()
print(ventasXcategoriaTienda4)

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

## Calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [15]:
# Consultar las columnas del DataFrame
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

### Satisfacción promedio del cliente en Tienda

In [16]:
promedioTienda = tienda['Calificación'].mean()
print(f"El promedio de calificación de la tienda 1 es: {promedioTienda:.2f}")

El promedio de calificación de la tienda 1 es: 3.98

### Satisfacción promedio del cliente en Tienda2

In [17]:
promedioTienda2 = tienda2['Calificación'].mean()
print(f"El promedio de calificación de la tienda 2 es: {promedioTienda2:.2f}")

El promedio de calificación de la tienda 2 es: 4.04

### Satisfacción promedio del cliente en Tienda3

In [18]:
promedioTienda3 = tienda3['Calificación'].mean()
print(f"El promedio de calificación de la tienda 3 es: {promedioTienda3:.2f}")

El promedio de calificación de la tienda 3 es: 4.05

### Satisfacción promedio del cliente en Tienda4

In [ ]:
promedioTienda4 = tienda4['Calificación'].mean()
print(f"El promedio de calificación de la tienda 4 es: {promedioTienda4:.2f}")

El promedio de calificación de la tienda 4 es: 4.00

# 4. Productos más y menos vendidos

## Identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [ ]:
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [36]:
def productosMasYMenosVendidos(df, nombreTienda, n=3):
    productos_vendidos = df['Producto'].value_counts()

    # Se hace uso de .head() para obtener los n productos más vendidos 
    productos_mas_vendidos = productos_vendidos.head(n)
    # Se hace uso de .tail() para obtener los n productos menos vendidos
    productos_menos_vendidos = productos_vendidos.tail(n)

    print(f"---------- {nombreTienda} ----------")
    print(f"\nProductos más vendidos en {nombreTienda}:\n{productos_mas_vendidos}")
    print(f"\nProductos menos vendidos en {nombreTienda}:\n{productos_menos_vendidos}")
    print("\n------------------------------\n")

In [37]:
# Contar la cantidad de veces que se vende cada producto en la tiendaN
productosMasYMenosVendidos(tienda, "Tienda 1", 5)
productosMasYMenosVendidos(tienda2, "Tienda 2")
productosMasYMenosVendidos(tienda3, "Tienda 3", 4) 
productosMasYMenosVendidos(tienda4, "Tienda 4")

---------- Tienda 1 ----------

Productos más vendidos en Tienda 1:
Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

Productos menos vendidos en Tienda 1:
Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

------------------------------

---------- Tienda 2 ----------

Productos más vendidos en Tienda 2:
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Name: count, dtype: int64

Productos menos vendidos en Tienda 2:
Producto
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

------------------------------

---------- Tienda 3 ----------

Productos más vendidos en Tienda 3:
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Name: count, dtype: int64

Productos menos vendidos en Tienda 3:
Producto
Set de vasos               36
Mochila                    36
Microondas                 36
Bloques de construcción    35
Name: count, dtype: int64

------------------------------

---------- Tienda 4 ----------

Productos más vendidos en Tienda 4:
Producto
Cama box                   62
Cubertería                 59
Dashboards con Power BI    56
Name: count, dtype: int64

Productos menos vendidos en Tienda 4:
Producto
Guitarra acústica     37
Armario               34
Guitarra eléctrica    33
Name: count, dtype: int64

------------------------------

# 5. Envío promedio por tienda

### Calcular el costo de envío promedio para cada tienda. El objetivo es comprender cuánto se gasta, en promedio, en el envío de cada tienda.  Sabiendo que el cliente paga el envío.

In [40]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

### Promedio de Costo de Envió en Tienda 1

In [41]:
promedioTiendaCosto = tienda['Costo de envío'].mean()
print(f"El promedio del costo de envío de la tienda 1 es: ${promedioTiendaCosto:.2f}")

El promedio del costo de envío de la tienda 1 es: $26018.61

### Promedio de Costo de Envió en Tienda 2

In [42]:
promedioTienda2Costo = tienda2['Costo de envío'].mean()
print(f"El promedio del costo de envío de la tienda 2 es: ${promedioTienda2Costo:.2f}")

El promedio del costo de envío de la tienda 2 es: $25216.24

### Promedio de Costo de Envió en Tienda 3

In [43]:
promedioTienda3Costo = tienda3['Costo de envío'].mean()
print(f"El promedio del costo de envío de la tienda 3 es: ${promedioTienda3Costo:.2f}")

El promedio del costo de envío de la tienda 3 es: $24805.68

### Promedio de Costo de Envió en Tienda 4

In [44]:
promedioTienda4Costo = tienda4['Costo de envío'].mean()
print(f"El promedio del costo de envío de la tienda 4 es: ${promedioTienda4Costo:.2f}")

El promedio del costo de envío de la tienda 4 es: $23459.46